<link rel="stylesheet" href="css/sidebar.css">
<nav class="sidebar sidebar-offcanvas" id="sidebar">
    <ul class="nav">
        <li class="nav-item nav-profile">
            <div class="nav-link">
                <div class="user-wrapper">
                    <div class="profile-image">
                        <img src="images/faces/face1.jpg" alt="profile image">
                    </div>
                    <div class="text-wrapper text-truncate">
                        <p class="profile-name">Marlon Conrado</p>
                        <div>
                            <small class="designation text-muted">Coordinador</small>
                            <span class="status-indicator online"></span>
                        </div>
                    </div>
                </div>
            </div>
        </li>
        <li class="nav-item">
            <a class="nav-link" ui-sref="Audio" ui-sref-active="active">
                <i class="menu-icon mdi mdi-volume-high"></i>
                <span class="menu-title">Audios</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href ui-sref="Autor" ui-sref-active="active">
                <i class="menu-icon mdi mdi-account-multiple"></i>
                <span class="menu-title">Autores</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href ui-sref="Etiqueta" ui-sref-active="active">
                <i class="menu-icon mdi mdi-tag"></i>
                <span class="menu-title">Etiquetas</span>
            </a>
        </li>
        <!-- <li class="nav-item">
            <a class="nav-link" href="pages/tables/basic-table.html">
                <i class="menu-icon mdi mdi-table"></i>
                <span class="menu-title">Tables</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="pages/icons/font-awesome.html">
                <i class="menu-icon mdi mdi-sticker"></i>
                <span class="menu-title">Icons</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#auth" aria-expanded="false" aria-controls="auth">
                <i class="menu-icon mdi mdi-restart"></i>
                <span class="menu-title">User Pages</span>
                <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="auth">
                <ul class="nav flex-column sub-menu">
                    <li class="nav-item">
                        <a class="nav-link" href="pages/samples/blank-page.html"> Blank Page </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="pages/samples/login.html"> Login </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="pages/samples/register.html"> Register </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="pages/samples/error-404.html"> 404 </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="pages/samples/error-500.html"> 500 </a>
                    </li>
                </ul>
            </div>
        </li> -->
    </ul>
</nav>