<div class="modal-header">
    <span class="text-gray h3 mb-0 float-left" ng-if="$ctrl.animal.estado_actual == 'Adoptado'">Adoptado</span>
    <span class="font-weight-bold pt-2 text-gray" ng-bind="'Ref. ' + $ctrl.solicitud.referencia"></span>
    <a href class="text-gray ml-auto" ng-click="$ctrl.cerrar()">
        <span>
            <i class="fa fa-times fa-2x"></i>
        </span>
    </a>
</div>
<div class="modal-body bg-white">
    <div class="container">
        <uib-tabset active="pills">
            <uib-tab index="0" heading="General">
                <form class="container my-3 form_modify_animal" name="form_modify_animal" ng-submit="$ctrl.registrarDatos();">

                    <div class="row text-gray">
                        <div class="col-12 text-center mt-3">
                            <p>
                                <span class="font-weight-bold text-capitalize">Nombre del solicitante: </span>
                                <span ng-bind="$ctrl.solicitud.nombre_adoptante"></span>
                            </p>
                            <p>
                                <span class="font-weight-bold text-capitalize">Codigo del animal solicitado: </span>
                                <span ng-bind="$ctrl.solicitud.idanimal"></span>
                            </p>
                            <p>
                                <span class="font-weight-bold text-capitalize">Fecha de solicitud: </span>
                                <span ng-bind="$ctrl.solicitud.fecha_solicitud"></span>
                            </p>
                            <p ng-if="$ctrl.solicitud.estado == 'Solicitado'">
                                <span class="font-weight-bold text-capitalize">Dias de expiracion de solicitud: </span>
                                <span ng-bind="$ctrl.solicitud.restantes + ' dias.'"></span>
                            </p>
                            <p ng-if="$ctrl.solicitud.estado != 'Solicitado'">
                                <span class="font-weight-bold text-capitalize">La solicitud fue <span ng-bind="$ctrl.solicitud.estado"></span></span>
                            </p>
                            <hr class="w-75">
                            <p>
                                <span class="font-weight-bold">MOTIVO DE LA SOLICITUD</span>
                            </p>
                            <blockquote>
                                <p ng-bind="$ctrl.solicitud.motivo_adopcion"></p>
                            </blockquote>
                        </div>
                    </div>
                    <div class="row col-md-12 justify-content-center" ng-show="$ctrl.editable">
                        <button type="submit" class="btn btn-success mt-3" ng-disabled="form_modify_animal.$invalid">Guardar cambios</button>
                    </div>
                </form>
            </uib-tab>
            <uib-tab index="1" heading="Adoptante">
                <form class="container my-3 form_modify_animal" name="form_modify_animal" ng-submit="$ctrl.registrarDatos();">

                    <div class="row text-gray">
                        <div class="col-12 text-center mt-3">
                            <p>
                                <span class="font-weight-bold text-capitalize">Identificacion: </span>
                                <span ng-bind="$ctrl.solicitud.adoptante.identificacion"></span>
                            </p>
                            <p>
                                <span class="font-weight-bold text-capitalize">Ocupación: </span>
                                <span ng-bind="$ctrl.solicitud.adoptante.ocupacion"></span>
                            </p>
                            <p>
                                <span class="font-weight-bold text-capitalize">Telefono: </span>
                                <span ng-bind="$ctrl.solicitud.adoptante.telefono"></span>
                            </p>
                            <p>
                                <span class="font-weight-bold text-capitalize">Correo: </span>
                                <span ng-bind="$ctrl.solicitud.adoptante.correo"></span>
                            </p>  
                            <p>
                                <span class="font-weight-bold text-capitalize">Direccion de residencia: </span>
                                <span ng-bind="$ctrl.solicitud.adoptante.direccion + ' (' + $ctrl.solicitud.adoptante.ciudad + ')'"></span>
                            </p>
                            <p>
                                <span class="font-weight-bold text-capitalize">Empresa: </span>
                                <span ng-bind="$ctrl.solicitud.adoptante.empresa"></span>
                            </p> 
                            <p>
                                <span class="font-weight-bold text-capitalize">Ciudad de empresa: </span>
                                <span ng-bind="$ctrl.solicitud.adoptante.ciudad_empresa"></span>
                            </p>
                            <p>
                                <span class="font-weight-bold text-capitalize">Telefono oficina: </span>
                                <span ng-bind="$ctrl.solicitud.adoptante.telefono"></span>
                            </p>
                        </div>
                    </div>
                    <div class="row col-md-12 justify-content-center" ng-show="$ctrl.editable">
                        <button type="submit" class="btn btn-success mt-3" ng-disabled="form_modify_animal.$invalid">Guardar cambios</button>
                    </div>
                </form>
            </uib-tab>
            <uib-tab index="2" heading="Animal">
                <div class="row text-gray">
                    <div class="col-12 text-center mt-3">
                        <p>
                            <span class="font-weight-bold text-capitalize">Nombre: </span>
                            <span ng-bind="$ctrl.solicitud.animal.nombre"></span>
                        </p>
                        <p>
                            <span class="font-weight-bold text-capitalize">Especie: </span>
                            <span ng-bind="$ctrl.solicitud.animal.especie"></span>
                        </p>
                        <p>
                            <span class="font-weight-bold text-capitalize">Raza: </span>
                            <span ng-bind="$ctrl.solicitud.animal.raza"></span>
                        </p>
                        <p>
                            <span class="font-weight-bold text-capitalize">Sexo: </span>
                            <span ng-bind="$ctrl.solicitud.animal.sexo.nombre"></span>
                        </p>
                        <p>
                            <span class="font-weight-bold text-capitalize">Peso: </span>
                            <span ng-bind="$ctrl.solicitud.animal.peso + 'Kg.'"></span>
                        </p>
                        <p>
                            <span class="font-weight-bold text-capitalize">Color: </span>
                            <span ng-bind="$ctrl.solicitud.animal.color"></span>
                        </p>
                        <p>
                            <span class="font-weight-bold text-capitalize">Edad: </span>
                            <span ng-bind="$ctrl.solicitud.animal.edad"></span>
                        </p>
                        <p>
                            <span class="font-weight-bold text-capitalize">Estado Actual: </span>
                            <span ng-bind="$ctrl.solicitud.animal.estado_actual"></span>
                        </p>
                    </div>
                    <center>
                        <div ng-repeat="i in $ctrl.solicitud.animal.galeria track by $index" class="col-4 p-2 d-inline-block justify-content-center align-items-center border">
                            <img ng-src="{{i.imagen}}" ng-class="{'d-none': modifyImage,'d-block': !modifyImage}" class="img-fluid" style="max-height: 100%;">
                        </div>
                    </center>
                </div>
            </uib-tab>
        </uib-tabset>
    </div>
</div>
<div class="modal-footer bg-white" ng-if="$ctrl.solicitud.estado != 'Legalizada'">
    <input class="btn btn-inverse-danger mr-auto" type="button" value="Rechazar" ng-hide="$ctrl.solicitud.estado == 'Rechazada'" ng-click="$ctrl.rechazarSolicitud();">
    <input class="btn btn-inverse-success" type="button" value="Aceptar"  ng-hide="$ctrl.solicitud.estado == 'Aceptada'" ng-click="$ctrl.aceptarSolicitud();">
</div>