<div class="modal-header">
    <h5 class="text-center">Bienvenido</h5>
</div>
<div class="modal-body bg-white">
    <div class="container">
        <img ng-src="{{$ctrl.slides[$ctrl.pos].imagen}}" class="img-fluid">
        <div class="my-3">
            <h5 ng-bind="$ctrl.slides[$ctrl.pos].titulo"></h5>
            <p ng-bind="$ctrl.slides[$ctrl.pos].texto"></p>
        </div>
        <div class="row">
            <div class="col text-center">
                <button ng-if="$ctrl.pos != 0;" class="btn btn-danger" ng-click="$ctrl.atras();">
                    Atrás
                </button>
            </div>
            <div class="col text-center">
                <button class="btn btn-success" ng-click="$ctrl.siguiente();">
                    Siguiente
                </button>
            </div>
        </div>
    </div>
</div>