<div class="content-wrapper">
    <div class="row">
        <div class="col-lg-12 grid-margin stretch-card">
            <div class="card">
                <div class="card-body" style="height: 80vh;">
                    <button class="btn btn-success mb-4" ng-click="inicioCtrl.modalAddArticulo('Insertar', null);">
                        Agregar artículo
                    </button>
                    <div style="overflow-x: auto;">
                        <table ng-table="inicioCtrl.tableParams" class="table table-condensed table-bordered table-striped">
                            <tr ng-repeat="row in $data" class="t-hover pointer">
                                <td data-title="'#Id'" name="Ingresa un textto" filter="{_id: 'text'}" sortable="'_id'"
                                    ng-bind="row._id"></td>
                                <td data-title="'Autor'" name="Ingresa un textto" filter="{autor: 'text'}" sortable="'autor'"
                                    ng-bind="inicioCtrl.getAutor(row.autor);"></td>
                                <td data-title="'Fecha'" name="Ingresa un textto" filter="{fecha: 'text'}" sortable="'fecha'"
                                    ng-bind="row.fecha | date:'short'"></td>
                                <td data-title="'Etiquetas'" name="Ingresa un textto" filter="{etiquetas: 'text'}"
                                    sortable="'etiquetas'" ng-bind="row.etiquetas | json"></td>
                                <td data-title="'Abrir'" class="text-center">
                                    <a href>
                                        <div class="badge badge-inverse-primary p-2" ng-click="inicioCtrl.modalAddArticulo('Actualizar', row);">
                                            <i class="mdi mdi-volume-high"></i>
                                        </div>
                                    </a>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>