<div class="content-wrapper">
    <div class="row">
        <div class="col-lg-12 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <div style="overflow-x: auto;">
                        <table ng-table="etiquetaSolCtrl.tableParams" class="table table-condensed table-bordered table-striped">
                            <tr ng-repeat="row in $data" class="t-hover pointer">
                                <td data-title="'#Id'" filter="{_id: 'text'}" sortable="'_id'" ng-bind="row._id"></td>
                                <td data-title="'Nombre'" filter="{nombre: 'text'}" sortable="'nombre'" ng-bind="row.nombre"></td>
                                <td data-title="'Fecha'" filter="{fecha: 'text'}" sortable="'fecha'" ng-bind="row.fecha | date:'yyyy-mm-dd H:m:s'"></td>
                                <td data-title="'Acciones'">
                                    <a href ui-sref="inicio.etiqueta({})">
                                        <span class="badge badge-inverse-success p-2" title="Agregar">
                                            <i class="mdi mdi-plus"></i>
                                        </span>
                                    </a>
                                    <a href>
                                        <span class="badge badge-inverse-danger p-2" title="Eliminar" ng-click="etiquetaSolCtrl.deleteEtiquetaSol(row._id);">
                                            <i class="mdi mdi-close"></i>
                                        </span>
                                    </a>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>